.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
}

.button {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  margin: 1rem;
}
.text {
  margin: 1rem;
}
